<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>menorah-controller.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FC173ED11C0A88B100345E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC173EEA1C0A88B100345E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FC173EF51C0A88B100345E1B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
